
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_mainlayout.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12">
	<div class="widget-bg-color-icon card-box">
		WELCOME TO THE GYM SYSTEM
	</div>
</div>
